<div class=" col-md-12  row">
    <p class="col-lg-1"></p>
    <h1 class="text-primary" style="margin: 15px 0"> Modifier la playlist </h1>
</div>
<div class ='align-middle text-left'>
	<div class="card m-5 p-5" style="height:auto">
		<div class="card-body">
      <div class="row">
        <div class="col-md-6 offset-md-2">

          <%= form_for @playlist do |f| %>

          <div class="form-group row lg-24">
            <div class="col-lg-6"> 
                <label>Titre de la playlist</label>
            </div>
            <div class="col-lg-12">
                <%= f.text_area :title, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-lg-6"> 
                <label>Description</label>
            </div>
            <div class="col-lg-12">
              <%= f.text_area :description, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-lg-6"> 
                <label>Mode privé / public</label>
            </div>
            <div class="col-lg-9">
                <div>
                    <%= f.radio_button :private_mode, false %>Public
                </div>
                    <span>
                <div>
                    <%= f.radio_button :private_mode, true %>Privé
                </div>
            </div>
          </div>


            <div class="actions mt-5 row">
              <div class="col-lg-3"></div>
              <button class="btn btn-outline-primary" type="submit">Enregister les modifications</button>
            </div>

            <% end %>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>