<% if user_signed_in? %>
<div class="jumbotron jumbotron-fluid text-center">
  <h1 class="display-4 pt-5 font-weight-bold text-center">Index des playlists</h1>

</div>

<div class="col-12 text-center">
  <% @playlists.each do |playlist| %>
    <div class="card">
      <div class="card-body">
        <h5 class="mt-0 text-center"><%= playlist.title  %></h5>
        <p class="text-info"><%= playlist.description %></p>
        <% if playlist.private_mode == false %>
        <p><%= link_to "Voir cette playlist", playlist_path(:id => playlist.id), class: 'btn btn-outline-success btn-sm' %></p>
        <% else%>
        <p>Cette playlist est privée, sorry</p>
        <% end %>
       
      </div>
    </div>
  <% end %>
  <p><%= link_to "Créer ma playlist", new_playlist_path, class: 'btn btn-outline-success btn-sm' %></p>
</div>



<main class="page has-sidebar">
    <div class="container-fluid relative animatedParent animateOnce">
            <div class="animated p-5 ml-lg-5 mr-lg-5">
                <section>
                    <div class="relative mb-5">
                        <br>
                        <br>
                        <br>
                        <h1 class="mb-2 text-primary">Toutes mes playlists</h1>
                        <p><%= link_to "Créer une nouvelle playlist", new_playlist_path, class: 'btn btn-outline-primary btn-sm' %></p>
                    </div>
                    <div class="row has-items-overlay">
                      <% @playlists.each do |playlist| %>
                        <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                            <figure>
                                <div class="img-wrapper">
                                    <%= image_tag("/app/assets/images/demo/a1.jpg") %>
                                    <div class="img-overlay text-white text-center">
                                        <a href="album-single.html">
                                            <div class="figcaption mt-3">
                                                <i class="icon-link s-48"></i>
                                                <%= link_to "/app/assets/images/icon/icon-link s-48"> playlist_path(:id => playlist.id), class: 'btn btn-outline-success btn-sm' %>
                                                <h5 class="mt-5"><%= playlist.title %></h5>
                                                <span>        
                                                <% if playlist.private_mode == false %>
                                                <%= link_to "/app/assets/images/icon/icon-link s-48"> playlist_path(:id => playlist.id), class: 'btn btn-outline-success btn-sm' %>
                                                <% else%>
                                                <p>Cette playlist est privée, sorry</p>
                                                <% end %>
                                                </span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="figure-title text-center p-2">
                                        <h5><%= playlist.title %></h5>
                                    </div>
                                </div>
                            </figure>
                        </div>
                      <% end %>
                    </div>
                </section>
            </div>
    </div>
</main>
<% end %>

<% if !user_signed_in? %>
<!--Page Content-->
<main id="pageContent" class="page has-sidebar">
    <div class="container-fluid relative animatedParent animateOnce no-p">
        <div class="animated">
            <!--Banner Slider-->
            <section>
                <div class="text-white">
                    <div data-item="1"
                        data-controls="true"
                        data-slide-margin="0"
                        data-gallery="false"
                        data-pause="8000"
                        data-pauseonhover="true"
                        data-auto="false"
                        data-pager="false"
                        data-loop="true">
                        <div class="xv-slide" data-bg-possition="top"
                            style="background-image:url('assets/img/demo/b1.jpg');">
                            <div class="has-bottom-gradient">
                                <div class="p-md-5 p-3">
                                    <div class="row">
                                        <div class="col-12 col-lg-6 animated">
                                            <div class="xv-slider-content clearfix color-white">
                                                <br>
                                                <h1 class="s-64 mt-5 font-weight-lighter">Spotitube</h1>
                                                <p class="s-24 font-weight-lighter">Vos playlists Youtube en mode collaboratif.</p>
                                                <div class="pt-3">
                                                    <p><%= link_to "Créez votre première playlist !", new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-gradient"></div>
                        </div>
                    </div>
                </div>
                <!--slider Wrap-->
            </section>
            <!--@Banner Slider-->

            <div class="container-fluid relative animatedParent animateOnce col-lg-8 card-body p-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"
                            src="https://www.youtube.com/embed/MYZ67-Sh7kM"
                            
                            height="540"
                            allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</main><!--@Page Content-->
<% end %>