

<!--Page Content-->
<main id="pageContent" class="page has-sidebar">
<div class="container-fluid relative animatedParent animateOnce">

    <div class="animated p-md-5 p-3">
        <section>
            <div class="relative mb-5">
                <h1 class="mb-2 text-primary"><%= "#{@playlist.title}" %></h1>
                <p><%= "#{@playlist.description}" %></p>
                <%= link_to "Modifier la playlist", edit_playlist_path(id: @playlist.id), class: 'btn btn-outline-primary btn-sm' %> 
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="container-fluid relative animatedParent animateOnce">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item"
                                        src="https://www.youtube.com/embed/GhifGWqFgMU?controls=0"
                                        height="540"
                                        allowfullscreen>
                                </iframe>
                            </div>
                            <div class="row p-2 m-2" style="justify-content: space-evenly;">
                                <% if user_signed_in? %>
                                    <div>
                                        <%= link_to "Modifier la video", playlist_path(:id => @playlist.id), class: 'btn btn-outline-primary btn-sm position-center' %>
                                    </div>
                                    <div>
                                        <%= link_to "Supprimer la video", playlist_path(:id => @playlist.id), class: 'btn btn-outline-primary btn-sm position-center' %>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
                
                <aside class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-header transparent b-b">
                            <strong>Tous les titres</strong>
                        </div>
                        <img src="assets/img/demo/v3.jpg" alt="">
                        <ul class="playlist list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <a class="no-ajaxy media-url" href="assets/media/track2.mp3" data-wave="assets/media/track2.json">
                                            <i class="icon-play s-28"></i>
                                        </a>
                                    </div>
                                    <div class="col-10">
                                        <small>Meet with me tonight</small>
                                    </div>
                                    <small class="ml-auto"> 5:03</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <a class="no-ajaxy media-url" href="assets/media/track2.mp3" data-wave="assets/media/track2.json">
                                            <i class="icon-play s-28"></i>
                                        </a>
                                    </div>
                                    <div class="col-10">
                                        <small>Go with me tonight</small>
                                    </div>
                                    <small class="ml-auto"> 5:03</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <a class="no-ajaxy media-url" href="assets/media/track2.mp3" data-wave="assets/media/track2.json">
                                            <i class="icon-play s-28"></i>
                                        </a>
                                    </div>
                                    <div class="col-10">
                                        <small>Hellow with me tonight</small>
                                    </div>
                                    <small class="ml-auto"> 5:03</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <a class="no-ajaxy media-url" href="assets/media/track2.mp3" data-wave="assets/media/track2.json">
                                            <i class="icon-play s-28"></i>
                                        </a>
                                    </div>
                                    <div class="col-10">
                                        <small>Once Dance with me tonight</small>
                                    </div>
                                    <small class="ml-auto"> 5:03</small>
                                </div>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
        </section>
    </div>
</div>
</main>