<div class='container'>

 <h1><%= "#{@playlist.title}" %></h1>

 <h3><%= "#{@playlist.description}" %></h3>

<p>Cliques <%= link_to "Ici", edit_playlist_path(id: @playlist.id) %> pour modifier la playlist.</p>


<% if @playlist.owner.id == current_user.id %>

<div class="container text-center">
    <p>Cliques <%= link_to "Ici", edit_playlist_path(id: @playlist.id) %> pour modifier la playlist.</p>

    <%= button_to "Supprimer la playlist", playlist_path(@playlist), method: :delete %>
</div>
<% end %>

  </div>
</div>



<!--Page Content-->
<main id="pageContent" class="page has-sidebar">
<div class="container-fluid relative animatedParent animateOnce">

    <div class="animated p-md-5 p-3">
        <section>
            <div class="relative mb-5">
                <h1 class="mb-2 text-primary"><%= "#{@playlist.title}" %></h1>
                <p><%= "#{@playlist.description}" %></p>
            </div>
            <div class="col-md-14">
                <div class="card mb-4">
                    <div class="p-3">
                        <ul class="d-md-flex align-items-stretch justify-content-stretch">
                            <li class="mr-3 ml-md-4 text-md-center">
                                <div class="s-24">29</div>
                                <div>vidéos</div>
                            </li>
                            <li>
                                <div class="col">
                                    <p>Ajouter une vidéo à cette playlist</p>
                                </div>
                                <div class="col p-3">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input type="text" class="form-control">
                                                    <label class="form-label">Copier l'url ici</label>
                                                    <input type="submit" class="btn btn-outline-primary btn-sm pl-4 pr-4" value="Importer">  
                                                </div>
                                            </div>
                            
                                            
                                </div>
                            </li>
                            <li>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                    <label class="custom-control-label" for="customSwitch1"><span>Mode collaboratif</span></label>
                                </div>
                                <br>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                    <label class="custom-control-label" for="customSwitch1"><span>Mode privé</span></label>
                                </div>
                                <div href="#" class="nav-link" data-toggle="control-sidebar">
                                    <i class="icon icon-share-1 text-primary s-24"></i><span>Partager cette playlist</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
            <div class="container-fluid relative animatedParent animateOnce">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"
                            src="https://www.youtube.com/embed/GhifGWqFgMU?controls=0"
                            height="540"
                            allowfullscreen>
                    </iframe>
                </div>
            </div>
                    </div>
                </div>
                
                <aside class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-header transparent b-b">
                            <strong>Tous les titres</strong>
                        </div>
                        <img src="assets/img/demo/v3.jpg" alt="">
                        <ul class="playlist list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <a class="no-ajaxy media-url" href="assets/media/track2.mp3" data-wave="assets/media/track2.json">
                                            <i class="icon-play s-28"></i>
                                        </a>
                                    </div>
                                    <div class="col-10">
                                        <small>Meet with me tonight</small>
                                    </div>
                                    <small class="ml-auto"> 5:03</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <a class="no-ajaxy media-url" href="assets/media/track2.mp3" data-wave="assets/media/track2.json">
                                            <i class="icon-play s-28"></i>
                                        </a>
                                    </div>
                                    <div class="col-10">
                                        <small>Go with me tonight</small>
                                    </div>
                                    <small class="ml-auto"> 5:03</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <a class="no-ajaxy media-url" href="assets/media/track2.mp3" data-wave="assets/media/track2.json">
                                            <i class="icon-play s-28"></i>
                                        </a>
                                    </div>
                                    <div class="col-10">
                                        <small>Hellow with me tonight</small>
                                    </div>
                                    <small class="ml-auto"> 5:03</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <a class="no-ajaxy media-url" href="assets/media/track2.mp3" data-wave="assets/media/track2.json">
                                            <i class="icon-play s-28"></i>
                                        </a>
                                    </div>
                                    <div class="col-10">
                                        <small>Once Dance with me tonight</small>
                                    </div>
                                    <small class="ml-auto"> 5:03</small>
                                </div>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
        </section>
    </div>
</div>
</main><!--@Page Content-->