<html>

<div class='container'>

 <h1><%= "#{@playlist.title}" %></h1>

 <h3><%= "#{@playlist.description}" %></h3>




<% if @playlist.owner.id == current_user.id %>

<div class="container text-center">

    <p>Clique <%= link_to "Ajouter une nouvelle vidéo", new_playlist_video_path(:playlist_id => @playlist.id) %></p>
    <p>Clique <%= link_to "Ici", edit_playlist_path(id: @playlist.id) %> pour modifier la playlist.</p>

    <%= button_to "Supprimer la playlist", playlist_path(@playlist), method: :delete %>
</div>
<% end %>

  </div>
</div>
</html>