        <!-----NAVBAR------>
<nav class="navbar-wrapper navbar-top-fixed shadow">
    <div class="navbar navbar-expand player-header justify-content-between  bd-navbar">
        
        <!--Left side navbar -->
        <div class="d-flex align-items-center">
            <a href="#" data-toggle="push-menu" class="paper-nav-toggle pp-nav-toggle ml-2 mr-2">
                <i></i>
            </a>
            <a class="navbar-brand d-none d-lg-block" href="index.html">
                <div class="d-flex align-items-center s-14 l-s-2">
                    <span>RECORD</span>
                </div>
            </a>
        </div>


    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

            <!-- Right Sidebar Toggle Button -->
            <li id="control-right-sidebar" class="control-right-sidebar justify-content-space-between" data-auto="true">
                <a href="#" class="nav-link" data-toggle="control-sidebar">
                    <i class="icon icon-add-3 text-primary s-24"></i><span>Ajouter une vidéo</span>
                </a>
            </li>
            <span></span>
            <!-- User Account-->
            <li class="dropdown custom-dropdown user user-menu ">
                <a href="#" class="nav-link" data-toggle="dropdown">
                    
                    <figure class="avatar">
                        <img src="assets/img/demo/u7.png" alt="">
                    </figure>
                    <i class="icon-more_vert text-primary s-24"></i><span>Bonjour User</span>
                </a>
                <div class="dropdown-menu p-4 dropdown-menu-right">
                    <div class="row box justify-content-between my-4">
                        <div class="col text-center">
                            <a class="ajaxifyPage" href="profile.html">
                                <i class="icon-user-4  s-36"></i>
                                <div class="pt-1">Profil</div>
                            </a>
                        </div>
                        <div class="col text-center">
                            <a class="ajaxifyPage" href="saved.html">
                                <i class="icon icon-sign-out s-36"></i> 
                                <div class="pt-1">Déconnexion</div>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</nav>

<!--Page Co
        <nav class="navbar navbar-expand-lg">
              <%= link_to "SPOTITUBE", root_path, :class => "navbar-brand" %>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>

          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">

          <% if user_signed_in? %>
          <div class="navbar-nav">
              <%= link_to "Mes playlists", playlists_path, :class => "dropdown-item" %></span>
          </div>  
          <div class="navbar-nav">
              <%= link_to "Mes collaborations", user_path(:id => current_user.id), :class => "dropdown-item" %></span>
          </div>
          <div class="navbar-nav">
              <%= link_to "Mon profil", user_path(:id => current_user.id), :class => "dropdown-item" %>
          </div>
          <div class="navbar-nav">
              <%= button_to "Déconnexion", destroy_user_session_path, :class => "dropdown-item", method: :delete %></span>
          </div>
          <% end %>
          <% if !user_signed_in? %>
          <div class="navbar-nav">
              <%= link_to "S'inscrire", new_user_registration_path, :class => "dropdown-item" %></span>
          </div>
          <div class="navbar-nav">
              <%= link_to "Se connecter", new_user_session_path, :class => "dropdown-item" %></span>
          </div>
          <% end %>

        </div>

        </nav>
-->