    <header>

        <!-----NAVBAR------>
        <nav class="navbar navbar-expand-lg">
              <%= link_to "SPOTITUBE", root_path, :class => "navbar-brand" %>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>

          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">

          <% if user_signed_in? %>
          <div class="navbar-nav">
              <%= link_to "Mes playlists", playlists_path, :class => "dropdown-item" %></span>
          </div>  
          <div class="navbar-nav">
              <%= link_to "Mes collaborations", user_path(:id => current_user.id), :class => "dropdown-item" %></span>
          </div>
          <div class="navbar-nav">
              <%= link_to "Mon profil", user_path(:id => current_user.id), :class => "dropdown-item" %>
          </div>
          <div class="navbar-nav">
              <%= button_to "Déconnexion", destroy_user_session_path, :class => "dropdown-item", method: :delete %></span>
          </div>
          <% end %>
          <% if !user_signed_in? %>
          <div class="navbar-nav">
              <%= link_to "S'inscrire", new_user_registration_path, :class => "dropdown-item" %></span>
          </div>
          <div class="navbar-nav">
              <%= link_to "Se connecter", new_user_session_path, :class => "dropdown-item" %></span>
          </div>
          <% end %>

        </div>

        </nav>
    </header>