<!DOCTYPE html>
<html>
  <head>
    <title>Spotitube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body class="theme-dark">
  <header>
    <%= render 'layouts/navbar' %>
    <%= link_to_unless_current "FR", locale: :fr %>
    <%= link_to_unless_current "EN", locale: :en %>
    <%= render 'layouts/flash' %>
  </header>
  

      <%= yield %>
  


  <footer>
    <%= render 'layouts/footer' %>
  </footer>
  </body>
</html>